<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subscriber List</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div th:insert="subscriber/fragments/navbar :: navbar"/>
<h1>This is Assignment done by Shweta Deshmukh</h1>
<img src="https://scontent-atl3-2.xx.fbcdn.net/v/t1.6435-9/166182125_2412780528852316_7127619769949174033_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=e3f864&_nc_ohc=-r-XsicI6-IAX87OiA3&_nc_ht=scontent-atl3-2.xx&oh=e5e8303e75a4d050f917021f8e7c3d1a&oe=60C8E36E" alt="Girl in a jacket">







</body>
</html>
